@model QRMascotas.context.DuenoAlternativo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <h4 class="mt-2 text-center">Eliminar dueño alternativo <i class="fa-solid fa-circle-minus" style="color: #d93e17;"></i></h4>

    <h5 class="text-center">¿Está seguro de que desea eliminar a @Html.DisplayFor(model => model.Nombre)?</h5>

    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            Nombre
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-6">
            Apellido paterno
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ApellidoP)
        </dd>
        <dt class = "col-sm-6">
            Apellido materno
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ApellidoM)
        </dd>
        <dt class = "col-sm-6">
            Número de contacto
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDuenoAlternativo" />

        <div class="form-group d-flex justify-content-center">
            <div class="form-group text-center me-2">
                <button type="button" class="btn btn-outline-primary mb-1 align-items-center" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            </div>
            <div class="form-group text-center">
                <button type="submit" value="Delete" class="btn btn-danger mb-1 align-items-center">Sí, Eliminar</button>
            </div>
        </div>

    </form>
</body>
</html>
