@model QRMascotas.context.Mascota

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/LayoutQrMascotas.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Esterilizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Esterilizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatosExtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatosExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDuenoAlternativoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDuenoAlternativoNavigation.IdDuenoAlternativo)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEspecieNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEspecieNavigation.IdEspecie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMascota">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
