@model IEnumerable<QRMascotas.ClasesModelo.Mascotax>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutQrMascotas.cshtml";
}

<div class="row mt-3">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Mis Mascotas</h3>
            <a class="btn btn-outline-primary ml-auto mb-3" asp-action="Create">Agregar Mascota</a>
        </div>
        
        @foreach (var item in Model)
        {
            <div class="card border-warning mb-3">
                <div class="row g-0">
                    <div class="col-2">
                        <img src="/Images/George.jpg" class="img-fluid rounded-start w-100 h-auto">
                    </div>
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <div class="table-responsive card-text">
                                <table class="table w-100 mt-0">
                                    <thead>
                                        <tr class="text-center">
                                            <th>
                                                Fecha de Nacimiento
                                            </th>
                                            <th>
                                                Género
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Color)
                                            </th>
                                            <th>
                                                ¿Esterilizado?
                                            </th>                                           
                                            <th>
                                                Nombre del dueño
                                            </th>

                                            <th>
                                                Especie
                                            </th>
                                            <th>
                                                Código QR
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>                                       
                                            <tr class="text-center align-middle">

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FechaNac)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.GeneroTexto)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Color)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EsterilizadoTexto)
                                                </td>
                                                
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NombreDueno)

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NombreEspecie)
                                                </td>
                                                <td>
                                                <img src="/Images/qr.jpg" style="width:80px; height:80px">
                                                </td>
                                                <td>

                                                <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.IdMascota">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdMascota">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            </td>
                                            </tr>                                        
                                    </tbody>
                                </table>
                            </div> 
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <b>Dueño alternativo: </b> @Html.DisplayFor(modelItem => item.NombreDuenoA)
                                                    @if (item.IdDuenoAlternativo == null)  
                                                    {
                                                        <a id="CreateDuenoAlternativo" class="btn btn-outline-success btn-sm" data-mascota-id="@item.IdMascota">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </a>
                                                    }
                                                </div>

                                                @if (item.IdDuenoAlternativo != null)  
                                                {
                                                    <div class="m-1">
                                                        <a id="EditDuenoAlternativo" class="btn btn-outline-warning btn-sm" data-dueno-id="@item.IdDuenoAlternativo">
                                                            Editar
                                                        </a>
                                                    </div>

                                                    <div>
                                                        <a class="btn btn-outline-danger btn-sm" asp-controller="DuenoAlternativo" asp-action="Delete" asp-route-id="@item.IdDuenoAlternativo">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </a>
                                                    </div>
                                                }                                                                                              

                                            </div>
                                            <div>
                                                <a asp-action="Delete" asp-route-id="@item.IdMascota">                                                    
                                                </a>
                                                <a id="AdditionalInfo" class="btn btn-outline-info btn-sm" data-mascota-id="@item.IdMascota">
                                                    Información adicional <i class="fa-solid fa-circle-info"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
                      
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
               
                <div id="contenidoModal"></div>

            </div>
            <div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        var CrearDuenoAlternativo = '@Url.Action("Create", "DuenoAlternativo")';
        var EditarDuenoAlternativo = '@Url.Action("Edit", "DuenoAlternativo")';
        var InformacionAdicional = '@Url.Action("InformacionAdicional", "Mascotas")';
    </script>   

    <script src="~/js/JavaScript.js" asp-append-version="true"></script>

}